/* LINKS */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(101, 100, 100);
  text-decoration: none;
  font-weight: bolder;
}

/* GENERAL */

body {
  background-color: white;
  color: black;
  font-family: 'IBM Plex Mono', 'Fira code', 'Courier New', Courier, monospace;
  ;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.container {
  align-content: center;
  display: flex;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.emphasis {
  color: #828588 !important;
  ;
}

/* HEADER */
.h1 {
  color: gray;
  font-size: x-large
}

.h2 {
  color: gray;
  font-size: larger;
}

.h3 {
  color: gray !important;
  font-size: large;
}

.h4 {
  color: gray !important;
  font-size:medium;
}

.name {
  color: black;
  font-weight: bold;
}

hr {
  margin-top: 1%;

}

/* NAV BAR */

nav {
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 100vw;
  background-color: white;
  z-index: 99999;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 99999;
  background-color: white;
}

/* ABOUT ME SECTION */

.languages {
  margin-top: 28%;
  margin-bottom: 8%;
}

/* PROJECT SECTION */

.project-wrapper {
  background-color: rgb(252, 248, 248);
  margin: 1%;
  padding: 1% 2%;
  min-height: 30vh;
}

.section {
  background-color: white;
  min-height: 100vh;
  padding-top: 8vh;
}

.project-wrapper:hover {
  background-color: rgb(237, 233, 233);
  border-color: gray;
  min-height: 32vh;
}

.project-img-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.project-img {
  align-self: center;
  display: block;
  margin: auto;
  width: 100%;
}

/* EXPERIENCE SECTION */

.date {
  font-style: italic;
  font-size: small;
  color: gray;
}

.position-wrapper {
  background-color: rgb(253, 251, 251);
  margin: 1%;
  padding: 1% 2%;
  padding-top: 2%;
}